body {
  font-family: sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100%;
  max-width: 800px;
}

.error-message {
  background-color: lightpink;
  border: 1px solid tomato;
  color: darkred;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}